<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <%- include('layouts/styles'); -%>
<body>
    <%- include('layouts/navbar'); -%>

      <div class="container">
        <h2>All Blog Posts</h2>
        <table class="table table-hover">
         <!--  <thead class="thead-dark"> -->
          <thead style="background-color: #dad;">
            <tr>
              <th>Blog Title</th>
              <th>Blog Content</th>
            </tr>
          </thead>
          <tbody>
              <% for (var i=0; i < blogposts.length; i++) { %>
                <tr>
                  <td> <%= blogposts[i].title %>  </td>
                  <td> <%= blogposts[i].body %>   </td>
                </tr>
              <% } %>
          </tbody>
        </table>
      </div>
      
      <%- include('layouts/footer'); -%>
      <%- include('layouts/scripts'); -%>
</body>
</html>
